APP_NAME=<app_name>
APP_ENV=<app_env>
APP_DEBUG=<app_debug>
APP_KEY=<app_key>
APP_URL=<app_url>
APP_BASE_PATH=<app_base_path>
APP_LOCALE=<app_locale>
APP_FALLBACK_LOCALE=<app_fallback_locale>
APP_FAKER_LOCALE=<app_faker_locale>

# Локальный порт для `make up-prod`
NGINX_PORT=<nginx_port>

LOG_CHANNEL=<log_channel>
LOG_STACK=<log_stack>
LOG_LEVEL=<log_level>

DB_CONNECTION=<db_connection>
DB_HOST=<db_host>
DB_PORT=<db_port>
DB_DATABASE=<db_database>
DB_USERNAME=<db_username>
DB_PASSWORD=<db_password>

SESSION_DRIVER=<session_driver>
SESSION_LIFETIME=<session_lifetime>
SESSION_ENCRYPT=<session_encrypt>
SESSION_PATH=<session_path>
SESSION_DOMAIN=<session_domain>

CACHE_STORE=<cache_store>
QUEUE_CONNECTION=<queue_connection>
BROADCAST_CONNECTION=<broadcast_connection>
FILESYSTEM_DISK=<filesystem_disk>

REDIS_CLIENT=<redis_client>
REDIS_HOST=<redis_host>
REDIS_PORT=<redis_port>
REDIS_PASSWORD=<redis_password>
